form {

  .form-group {
    margin-bottom: map-get($spacers, 2);

    input {
      border-radius: 5px;
      border: 0px;
      box-sizing: border-box;
      padding: map-get($spacers, 2);
      &.form-control {
        width: 100%;
      }
    }

    &.error-block {
      input {
        border: 1px solid map-get($colors, red);
      }

      .error-message {
        font-size: 0.7em;
        font-weight: 400;
        color: map-get($colors, red);
      }
    }
  }
}